body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(to bottom right, #7665ba, #caca45);
	color: white;
	text-align: center;
}

h1,
h2 {
	font-weight: 100;
	font-size: 2em;
	text-transform: uppercase;
}

.timings {
	border: 1px solid white;
	padding: 30px;
	border-radius: 50px;
}


button {
	width: 80px;
	border: 1px solid white;
	color: white;
	background-color: cornflowerblue;
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 10px;
	margin: 8px;
	outline: none;
	border-radius: 10px;
}

button:hover {
	/* background-color: white; */
	color: white;
	box-shadow: 0 0 10px #fff;
	transform: scale(1.1);
	/* transition: 1s ease-in-out; */

}

#stopwatch {
	font-size: 3.2em;
	margin-bottom: 10px
}

#start {
	background-color: #509650;
}

#stop {
	background-color: #e24c4c;
}

#reset {
	background-color: lightseagreen;
}

/* media queries */
@media only screen and (min-width: 600px) {
	button {
		width: 150px;
		font-size: 1.2em;
		padding: 18px 10px;
		margin: 10px;
	}

	#stopwatch {
		font-size: 5.2em;
	}

	h1,
	h2 {
		font-size: 2.6em;
	}
}